@import '_colors';

@import './components/OrderForm';
@import './components/HeaderNav';
@import './components/CakeItem';
@import './components/CakeItemDisplay';

body{
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
}